{% extends "base.html" %}
{% block content %}
<div class="container" style="display: flex;"> 
    <div class="my-form">
      <div class="form-title">
      <h3>Forget Password?</h3>
    </div>  
    <form method="post">
      <div class="single-input">
        <span><i class="fas fa-envelope"></i></span>
        <input type="text" placeholder="email" name="email">
      </div>
      <div class="single-input submit-btn">
        <input type="submit" value="Go">
      </div>
    </form>
  </div>`
</div>
{% endblock %}
