{% extends "base.html" %}
{% block content %}
<div class="container" style="display: flex;"> 
      <div class="my-form">
        <div class="form-title">
        <h3>Login</h3>
        </div>  
      <form method="post">
        <div class="single-input">
          <span><i class="fas fa-user"></i></span>
          <input type="text" placeholder="Username" name="username">
        </div>
        <div class="single-input">
          <span><i class="fas fa-unlock"></i></span>
          <input type="password" placeholder="Password" name="password">
        </div>
        <a href = "/forget-pass"><small style="color:#182444;text-decoration: none;" class="ml-3">Forget password ?</small></a> 
        <div class="single-input submit-btn">
          <input type="submit" value="Login">
        </div>
      </form>
    </div>
  </div>


{% endblock %}